<!DOCTYPE html>

<html>
<head>
	<title>Collect crap</title>
	<script src="./Shared/Scripts/jquery-1.8.2.js" type="text/javascript"></script>
	<script src="./Shared/Scripts/knockout-2.2.0.js" type="text/javascript"></script>
	<script src="./Shared/Scripts/knockout.mapping-latest.js" type="text/javascript"></script>
	<link href="./Shared/CSS/main.css" type="text/css" rel="stylesheet"></link>
</head>
<body>
	<header>
		<p>[Logo here]</p>
	</header>
	<nav>
		<ul>
			<li><a href="listfigures">List Figures</a></li>
			<li><a href="addfigure">Add Figure</a></li>
		</ul>
	</nav>

	<article>
		@RenderBody()
	</article>

	<footer>
		done by me, yay.
	</footer>
</body>
</html>
