<!DOCTYPE html>

<html>
<head>
	<title>Collect crap</title>
</head>
<body>
	<nav>
		<ul>
			<li><a href="listfigures">List figures</a></li>
			<li><a href="addfigure">Add figure</a></li>
		</ul>
	</nav>

	@RenderBody()
</body>
</html>
