<!DOCTYPE html>

<html>
<head>
	<title>Collect crap</title>
	<!-- //TODO: use bundles or some such. -->
	<script src="/Shared/Scripts/jquery-1.8.2.js" type="text/javascript"></script>
	<script src="/Shared/Scripts/jquery-ui-1.9.0.min.js" type="text/javascript"></script>
	<script src="/Shared/Scripts/knockout-2.2.0.js" type="text/javascript"></script>
	<script src="/Shared/Scripts/knockout.mapping-latest.js" type="text/javascript"></script>
	<script src="/Shared/Scripts/livevalidation.js" type="text/javascript"></script>
	<script src="/Shared/Scripts/customlivevalidation.js" type="text/javascript"></script>
	<script src="/Shared/Scripts/tag-it.min.js" type="text/javascript"></script>
	<link href="/Shared/CSS/main.css" type="text/css" rel="stylesheet"></link>
	<link href="/Shared/CSS/jqueryui/themes/base/minified/jquery-ui.min.css" type="text/css" rel="stylesheet"></link>
	<link href="/Shared/CSS/jqueryui/themes/base/minified/jquery.ui.autocomplete.min.css" type="text/css" rel="stylesheet"></link>
	<link href="/Shared/CSS/jquery.tagit.css" type="text/css" rel="stylesheet"></link>
</head>
<body>
	<header>
		<p>[Logo here]</p>
	</header>
	<nav>
		<ul>
			<li><a href="/listfigures">List Figures</a></li>
			<li><a href="/addfigure">Add Figure</a></li>
		</ul>

		<div id="search-form">
			<form action="/searchfigure" method="post">
				<input type="text" id="term" placeholder="Search" />
			</form>
		</div>
	</nav>

	<article>
		@RenderBody()
	</article>

	<footer>
		done by me, yay.
	</footer>

	@RenderSection("Scripts", false)

	<script type="text/javascript">
		$(document).ready(function () {
			var form = $("#search-form form");
			var searchTerm = $("#search-form form #term");
			form.submit(function () {
				form.attr("action", "/searchfigure/" + searchTerm.val());
				return true;
			});
		});

	</script>
</body>
</html>
