body {
	font-family: Verdana;
	margin: 0px;
	font-size: large;
}

header {
	line-height: 5em;
	vertical-align: middle;
}

nav {
	font-weight: bold;
}

nav ul {
	padding: 1em;
	background-color: #0094FF;
}

nav ul li {
	display: inline-block;
}


nav ul li a:visited,
nav ul li a:hover,
nav ul li a:active,
nav ul li a {
	color: #FFFFFF;
	padding: 1em;
}

nav ul li a:hover {
	background-color: #57C9FF;
}

a:visited,
a:hover,
a:active,
a {
	text-decoration: none;
}

article {
	padding: 3em;
}

footer {
	text-align: center;
	font-weight: normal;
	font-size: small;
	border-top: 1px solid black;
}

fieldset {
	border: none;
	text-align: center;
	line-height: 2em;
}

input[type=submit] {
	border-radius: 3em;
}

.figure {
	background-color: #EEE;
	width: 20em;
	margin: 1em;
}

.figure .header .title {
	float: left;
	font-size: larger;
	max-width: 13em;
	overflow: auto;
}

.figure .header input {
	float: right;
}

.figure .header:before,
.figure .header:after{
	content: " ";
    display: table;
}

.figure .header:after{
    clear: both;
}

.figure .header:after{
    *zoom: 1;
}

.figure .details {
	color: gray;
}