@model Collect.Web.ListAllFigures.ListFiguresViewModel

<div id="message" style="display: none;"><span></span></div>

<h1>Figures we currently know about:</h1>

@foreach (var figure in Model.Figures)
{
	<div class="figure">
		<span class="header"><span class="title"><a href="viewfigure?FigureId=@figure.Id">@figure.FigureName</a></span> <input type="button" class="delete" data-id="@figure.Id" value="X" /></span>
		<span class="details">@figure.YearReleased, @figure.Series </span>
	</div>
}

@section Scripts
{
<script type="text/javascript">
	$(document).ready(function () {
		$(".delete").on("click", function (event) {
			var id = $(this).data("id");
			var parent = $(this).closest(".figure");
			$.ajax({
				url: "delete",
				type: "POST",
				data:
					{
						IdToDelete: id
					}
			})
			.done(function (result) {
				$("#message").show();
				$("#message span").html(result.StatusMessage);

				if (result.Success) {
					$("#message").css("color", "green");
					parent.remove();
				}
				else {
					$("#message").css("color", "red");
				}
			});
		});
	});
</script>
}