@model Collect.Web.AddFigures.AddFigureViewModel
@using Newtonsoft.Json;

@if (!string.IsNullOrEmpty(Model.StatusMessage))
{
	<div><span>Yo dawg here's what I heard: @Model.StatusMessage</span></div>
}

<h1>Enter details about the new figure:</h1>

<form id="addfigureform" action="AddFigurePosted" method="post">

	<fieldset>
		<label for="FigureName">Name:</label>
		<input name="FigureName" type="text" maxlength="50" required placeholder="Name" />
		<br />
		<label for="Year">Year:</label>
		<input name="Year" id="year" type="number" min="1980" max="2020" required placeholder="Year"/>
		<br />
		<label for="Series">Series:</label>
		<input name="Series" id="series" type="text" maxlength="50" required placeholder="Series" />
		<br />
		<button>Add new figure!</button>
	</fieldset>

</form>

<script type="text/javascript">

	$(document).ready(function () {
		$("#series").autocomplete({
			source: "/SeriesLookup/",
		});

		var yearValidation = new LiveValidation("year", { validMessage: "Looks good!", wait: 500 });
		yearValidation.add(Validate.Presence, { failureMessage: "Year must be provided." });
		yearValidation.add(Validate.Numericality, { onlyInteger: true, maximum: 2015, minimum: 1980 });
	});

</script>