@model Collect.Web.AddFigures.AddFigureViewModel
@using Newtonsoft.Json;

@if (!string.IsNullOrEmpty(Model.StatusMessage))
{
	<div><span>Yo dawg here's what I heard: @Model.StatusMessage</span></div>
}

<form id="addfigureform" action="AddFigurePosted" method="post">

	<fieldset>
		<label for="FigureName">Name:</label>
		<input name="FigureName" type="text" maxlength="50" required placeholder="Name" />
		<br />
		<label for="Year">Year:</label>
		<input name="Year" type="number" min="1980" max="2020" required placeholder="Year"/>
		<br />
		<label for="Series">Series:</label>
		<input name="Series" type="text" maxlength="50" required" placeholder="Series" />
		<br />
		<input type="submit" value="Add new figure!" />
	</fieldset>

</form>